/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/

* {
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(200deg, rgba(36, 186, 213, 0.274) 0%, rgba(40, 198, 201, 0.217) 15%, rgba(85, 233, 181, 0.27) 33%, rgba(125, 241, 229, 0.278) 44%, rgba(18, 172, 223, 0.316) 59%, rgba(27, 106, 233, 0.313) 77%, rgba(46, 87, 175, 0.332) 91%, rgba(149, 46, 175, 0.281) 100%);
    /* background: rgb(36, 186, 213);
    background: linear-gradient(200deg, rgba(36, 186, 213, 1) 0%, rgba(40, 198, 201, 1) 15%, rgba(85, 233, 181, 1) 33%, rgba(125, 241, 229, 1) 44%, rgba(18, 171, 223, 1) 59%, rgba(27, 105, 233, 1) 77%, rgba(46, 86, 175, 1) 91%, rgba(149, 46, 175, 1) 100%); */
    /* background: linear-gradient( 120deg, hsl(206deg 77% 10%) 0%, hsl(196deg 88% 10%) 15%, hsl(188deg 59% 17%) 28%, hsl(182deg 39% 41%) 44%, hsl(186deg 81% 64%) 67%, hsl(207deg 58% 53%) 100%); */
}

body {
    font-family: montserrat, arial, verdana;
}


/*form styles*/

#msform {
    width: 800px;
    margin: 100px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}


/*inputs*/

#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}


/*buttons*/

#msform .action-button {
    width: 100px;
    background: rgb(36, 186, 213);
    background: linear-gradient(200deg, rgba(36, 186, 213, 0.274) 0%, rgba(40, 198, 201, 0.217) 15%, rgba(85, 233, 181, 0.27) 33%, rgba(125, 241, 229, 0.278) 44%, rgba(18, 172, 223, 0.316) 59%, rgba(27, 106, 233, 0.313) 77%, rgba(46, 87, 175, 0.332) 91%, rgba(149, 46, 175, 0.281) 100%);
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-family: montserrat, arial, verdana;
    color: #04263084;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .updateBtn {
    width: 150px;
}

#msform .action-button:hover {
    background: rgba(36, 186, 213, 0.4);
    background: linear-gradient(200deg, rgba(36, 186, 213, 1) 0%, rgba(40, 198, 201, 1) 15%, rgba(85, 233, 181, 1) 33%, rgba(125, 241, 229, 1) 44%, rgba(18, 171, 223, 1) 59%, rgba(27, 105, 233, 1) 77%, rgba(46, 86, 175, 1) 91%, rgba(149, 46, 175, 1) 100%);
}


/*headings*/

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle1 {
    font-weight: normal;
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 2px;
    text-align: left;
}

.fs-subtitle2 {
    font-weight: normal;
    font-size: 13px;
    color: #666;
}

.imgStyle {
    width: 78px;
    height: 120px;
    background-size: cover;
    margin-bottom: 14px;
}

@media only screen and (max-width: 800px) {
    #msform {
        width: 600px;
    }
}

@media only screen and (max-width: 700px) {
    #msform {
        width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    #msform {
        width: 400px;
    }
}

@media only screen and (max-width: 400px) {
    #msform {
        width: 300px;
    }
}