.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(#167065ec, #93bcb950), url("../../img/hero.jpg");
    background-color: rebeccapurple;
    width: 100%;
    height: 700px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    /* Set a specific height */
    /* Position and center the image to scale nicely on all screens */
}

.hero-text {
    text-align: center;
    position: relative;
    color: rgb(14, 39, 20);
    border-radius: 5%;
    padding: 50px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.111);
}

.hero-text p {
    font-size: 30px;
    color: azure;
}

button {
    font-size: 15px;
    font-family: Arial;
    width: auto;
    height: 50px;
    border-width: 1px;
    border-color: #599bb3;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 10px 14px -7px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background: linear-gradient(rgba(89, 179, 145, 1), rgba(62, 89, 93, 1));
}

button:hover {
    background: linear-gradient(rgba(62, 89, 93, 1), rgba(89, 179, 145, 1));
}

.navbar-toggler {
    margin-right: 10px;
}

.housing {
    position: relative;
}