body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #85CAC3, #a8eb12);
    font-family: Garamond;
}

.card,
.card-body {
    background-color: rgba(91, 86, 86, 0.272);
    color: rgb(234, 225, 213);
}

.navbar-expand-lg {
    background: rgb(175, 225, 227);
    background: linear-gradient(90deg, rgba(175, 225, 227, 1) 0%, rgba(5, 19, 10, 1) 100%);
}